* {
    margin: 0;
    padding: 0;
} 
body {
    border-style: solid;
}
header {
    border-style: solid;
    border-color: blueviolet;
}
nav {
    border-style: solid;
    border-color: red;
}
div {
    border-style: solid;
    border-color: blue
}
h2 {
    border-style: dotted;
}
h3 {
    border-style: dashed;
}
p {
    border-style: double;
}